@{
    ViewBag.Title = "Opće informacije";
}
<h2>@ViewBag.Title.</h2>
<h3>Projekt izradili:</h3>
<p>Mato Lučić - mlucic@etfos.hr</p>
<p>Matej Umiljanović - mumiljanovic@etfos.hr</p>
<p>Josip Tomaić - jtomaic@etfos.hr</p>
